{% extends 'indexdash1.html' %}
{% block content %}
{%load crispy_forms_filters %}
<div class="container">
    <div class="row">
        <div class ="col-md-12">
            <h1 class="text-center display-&">Update ToDo</h1>
        </div>
        <div class="col-md-12">
            <form method="POST">
                {% csrf_token %}
                {{form|crispy}}
                <input type="submit" class="btn btn-dark btn-block" value="update"/>
            </form>
        </div>
    </div>
</div>
{% endblock %}